
<div *ngIf="signedOutToggle">
  <div class="form-group row">
    <label for="userInput" class="col-sm-4 col-form-label">Username</label>
    <div class="col-sm-4">
        <input type="text" class="form-control" id="userInput" [(ngModel)]="username" >
    </div>
  </div>
  <div class="form-group row">
    <label for="passwordInput" class="col-sm-4 col-form-label">Password</label>
    <div class="col-sm-4">
        <input type="password" class="form-control" id="passwordInput" [(ngModel)]="password">
    </div>
  </div>
</div>
<div class="form-group row">
    <div *ngIf="signedOutToggle" class="col-sm-4">
        <button  type="button" class="btn btn-primary"  id="sign-in-button"  (click)="signIn()">Sign In</button>
    </div>
    <button *ngIf="!signedOutToggle" type="button" class="btn btn-primary" (click)="signOut()">Sign Out</button>
</div>





