<mat-accordion>
<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header class="signin-acc">
      <mat-panel-title>
               
      </mat-panel-title>
      <mat-panel-title id="signout-title" *ngIf="!signedOutToggle">
        
      </mat-panel-title>
      <mat-panel-title id="signin-title" *ngIf="signedOutToggle">
        <div class="mat-title"  >Sign In or Create New User</div>
      </mat-panel-title>
  </mat-expansion-panel-header>


      <!-- <mat-icon color="primary">account_circle</mat-icon> -->
    
    <div class="mat-subheading-2 border" *ngIf="signedOutToggle">
      <div  class="form-group row">
        <label  for="userInput" class="col-sm-4 col-form-label">Username</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="userInput" [(ngModel)]="username" >
        </div>
      </div>
      <div class="form-group row">
        <label for="passwordInput" class="col-sm-4 col-form-label">Password</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="passwordInput" [(ngModel)]="password">
        </div>
      </div>
    </div>
    <div class="form-group row">
      
      <mat-icon color="primary" *ngIf="!signedOutToggle">account_circle</mat-icon>
    <div class="mat-subheading-2" *ngIf="!signedOutToggle">{{username}}</div>
      
      <div  *ngIf="signedOutToggle" class="col-sm-4 ">
            <button id="signInButton" mat-raised-button color="primary" (click)="signIn()">Sign In</button>
            <button id="signUpButton" mat-raised-button  color="primary" (click)="signUp()" >Sign Up</button> 
        </div>
        <button id="signOutButton" mat-raised-button color="primary" *ngIf="!signedOutToggle" type="button" class="btn btn-primary" (click)="signOut()">Sign Out</button>  
      
   </div>
    

  </mat-expansion-panel>
</mat-accordion>






