 
    <mat-accordion id="focus-card" *ngIf="workoutPlan">


      <!-- How to display the workoutPlan variable; it is currently set to display the focused workout-->
      <div *ngIf="workoutPlan" id="sampleWorkoutFocusDiv">

        <mat-expansion-panel hideToggle id="custom-body" >
          <mat-expansion-panel-header class="custom-head">
            <mat-panel-title>
             
            </mat-panel-title>
            <mat-panel-title>
              <div class="mat-title"> {{workoutPlan.workoutName}}</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- How to display the workoutPlan variable; it is currently set to display the focused workout-->
         
            
            <br>
            
            <mat-card *ngFor="let exercise of workoutPlan.exerciseList; index as i" id="exercise-box{{i}}">
              
              <h3> {{exercise.exerciseName}} (Intensity: <span id="intensitySpan{{i}}">{{exercise.exerciseIntensity}}</span>)</h3>
              <p> {{exercise.exerciseDescription}} </p>
              <p> Targets: {{exercise.exerciseTarget.exerciseTargetName}} </p>
              
              <!-- section for button/exceise UD -->
              <!-- <div class="UD"> -->
                <!-- <h4>workoutLikes:</h4>
                <! <button click="save(workoutPlan.workoutplanId)">save</button> -->
                 <!-- <button (click)="like(workoutPlan)">like</button> -->
                <!-- <button (click)="delete(workoutPlan.workoutplanId)">Delete Workout # id {{workoutPlan.workoutplanId}}:</button> -->
                <!-- <br>  -->
                <!-- </div> -->
              
                
         
            </mat-card>
            <div *ngIf="currentUser">
              <p> Save workout with new name:</p>
              <input id="saveWorkoutNameInput" [(ngModel)] = "saveWorkoutNameInput">
              <app-user-buttons ></app-user-buttons>
            </div>
            
         
          
      

        </mat-expansion-panel>

        </div>


        
     
<!-- outside of padding -->
    </mat-accordion>
<!-- outside of scope -->


    
