<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
       Current Exercise List
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
    </mat-card>
    <main class="container">

        <mat-card>
            <div class="mat-subheading-2 border">
          <!-- How to display the workoutPlan variable; it is currently set to display the focused workout-->
          <div *ngIf="workoutPlan">
            <h2> {{workoutPlan.workoutName}}</h2>
            <br>
            <div *ngFor="let exercise of workoutPlan.exerciseList">
              <!-- if(workoutPlan.workoutplanId %2=0) -->
              <mat-card color="warn">

              
               <br >
              <h3> {{exercise.exerciseName}} (Intensity: {{exercise.exerciseIntensity}})</h3>
              <p> {{exercise.exerciseDescription}} </p>
              <p> Targets: {{exercise.exerciseTarget.exerciseTargetName}} </p>
            </mat-card>
                </div>       
          </div>
        </div>
        </mat-card>

     
<!-- outside of padding -->
</main>
<!-- outside of scope -->


    


</mat-expansion-panel>


      <!-- How to display the workoutPlan variable; it is currently set to display the focused workout-->
      <!-- <div *ngIf="workoutPlan">
        <h2> {{workoutPlan.workoutName}}</h2>
        <div *ngFor="let exercise of workoutPlan.exerciseList">
          <h3> {{exercise.exerciseName}} (Intensity: {{exercise.exerciseIntensity}})</h3>
          <p> {{exercise.exerciseDescription}} </p>
          <p> Targets: {{exercise.exerciseTarget.exerciseTargetName}} </p>
          <h2>workoutLikes:{{workoutPlan.workoutlikes}}</h2>
          <button>Like{{workoutlikes}}</button>
        </div> -->