<mat-accordion *ngIf="adminBool">
    <mat-expansion-panel hideToggle class="admin-body">

        <mat-expansion-panel-header class="admin-head">
          <mat-panel-title>
           
          </mat-panel-title>
          <mat-panel-title>
           <div class="mat-title">Admin Access</div>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <br>
    <mat-card class="exercise-div">
        <label for="exercise-name">exercise name:</label>
        <input type="text" id="exercise-name" [(ngModel)]="exerciseName">
        <br>
        <label for="exercise-intensity">exercise intensity:</label>
        <input type="text" id="exercise-intensity" [(ngModel)]="exerciseIntensity">
        <br>
        <label for="exercise-target">select target area:</label>
        <select name="exercise-target" id="exercise-target" [(ngModel)]="exerciseTargetId">
            <option value="1">arms</option>
            <option value="2">chest</option>
            <option value="3">back</option>
            <option value="4">legs</option>
            <option value="5">core</option> 
            <option value="6">glutes</option>
            <option value="7">cardio</option>
        </select>
        <br>
        <label for="exercise-description">exercise description:</label>
        <input type="text" id="exercise-description" [(ngModel)]="exerciseDescription">
        <br>
        <button mat-raised-button (click)="addExercise()" id="addExerciseButton">add exercise to database</button>
    </mat-card>
    <br>
    <br>
    <mat-card class="exercise-div">
        <label for="input">get exercise by ID</label>
        <input type="text" id="input" [(ngModel)]="exerciseID">
        <br>
        <button  mat-raised-button (click)="getExercise()" id= "getExerciseButton">get exercise</button>
    </mat-card>
    <mat-card class="view-exercise-card" *ngIf="getButtonToggle">
        <h3> {{currentExercise.exerciseName}} (Intensity: {{currentExercise.exerciseIntensity}})</h3>
              <p> {{currentExercise.exerciseDescription}} </p>
              <p> Targets: {{currentExercise.exerciseTarget.exerciseTargetName}} </p>
    </mat-card>
    <br>
    <br>
    <mat-card class="exercise-div">
        <label for="exerciseID">exercise ID</label>
        <input type="text" id="exerciseID" [(ngModel)]="exerciseID">
        <br>
        <label for="exercise-name">exercise name:</label>
        <input type="text" id="exercise-name" [(ngModel)]="exerciseName">
        <br>
        <label for="exercise-intensity">exercise intensity:</label>
        <input type="text" id="exercise-intensity" [(ngModel)]="exerciseIntensity">
        <br>
        <label for="exercise-target">select target area:</label>
        <select name="exercise-target" id="exercise-target" [(ngModel)]="exerciseTargetId">
            <option value="1">arms</option>
            <option value="2">chest</option>
            <option value="3">back</option>
            <option value="4">legs</option>
            <option value="5">core</option>
            <option value="6">glutes</option>
            <option value="7">cardio</option>
        </select>
        <br>
        <label for="exercise-description">exercise description:</label>
        <input type="text" id="exercise-description" [(ngModel)]="exerciseDescription">
        <br>
        <button  mat-raised-button (click)="updateExercise()" id="updateExerciseButton">update exercise</button>
    </mat-card>
    <br>
    <br>
    
    <mat-card class="exercise-div">
    <label for="input">delete exercise by id</label>
    <input type="text" id="input" [(ngModel)]="exerciseID">
    <br>
    <button  mat-raised-button (click)="deleteExercise()" id = "deleteExerciseButton">delete exercise from database</button>
    </mat-card>
    
</mat-expansion-panel>
</mat-accordion>

