<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon  color="primary" class="mat-18 ">fitness_center</mat-icon>     
        </mat-panel-title>
        <mat-panel-title>
            <div class="mat-title"  >Saved Workouts</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table>
    
        <!-- <tr>
            <mat-icon color="primary" class="mat-18">fitness_center</mat-icon>
            <th><div class="mat-title"  >Saved Workouts</div></th> -->
            
        <tr>
            <th>Workout Name</th>
            <th>Recommended</th> 
            <th>Likes</th>
            <th>Exercises</th>
           
        </tr>
    
        <tr *ngFor="let workout of workoutPlanList; index as i">
            <td style="text-align: center;"> <button color="primary" mat-raised-button (click)="selectWorkoutFromList(i)">  {{workout.workoutName}}</button></td>
            <td style="text-align: center;"> <button color="" mat-raised-button (click)="selectWorkoutFromList(i)">  is recommended?</button></td>
            <td style="text-align: center;"> <button color="warn" mat-raised-button (click)="selectWorkoutFromList(i)">  likes</button></td>
            <td style="text-align: center;"> <button color="accent" mat-raised-button (click)="selectWorkoutFromList(i)">  {{workout.exerciseList.length}}</button></td>
            
        </tr>
        
    </table>
    </mat-expansion-panel>





<table>
    
    <tr>
        <mat-icon color="primary" class="mat-18">fitness_center</mat-icon>
        <th><div class="mat-title"  >Saved Workouts</div></th>
        
    <tr>
        <th>Workout Name</th>
        <th>Recommended</th> 
        <th>Likes</th>
        <th>Exercises</th>
       
    </tr>

    <tr *ngFor="let workout of workoutPlanList; index as i">
        <td style="text-align: center;"> <button color="primary" mat-raised-button (click)="selectWorkoutFromList(i)">  {{workout.workoutName}}</button></td>
        <td style="text-align: center;"> <button color="" mat-raised-button (click)="selectWorkoutFromList(i)">  is recommended?</button></td>
        <td style="text-align: center;"> <button color="warn" mat-raised-button (click)="selectWorkoutFromList(i)">  likes</button></td>
        <td style="text-align: center;"> <button color="accent" mat-raised-button (click)="selectWorkoutFromList(i)">  {{workout.exerciseList.length}}</button></td>
        
    </tr>
    
</table>


<br><br>

<section class="example-section">
    <mat-checkbox class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox>
    <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">Indeterminate</mat-checkbox>
  </section>

<br>



<br>


<!-- This should be displayed in the workout-focus component, not here-->
<!-- 
<div> 
    <table *ngIf=currentWorkoutPlan> 
        <tr *ngFor="let exercise of currentWorkoutPlan.exerciseList; index as i">
            <th>{{exercise.exerciseName}}</th>
            <th>{{exercise.exerciseDescription}}</th>
        </tr>
    </table>
</div> -->

<!-- **ngFor="let workout of workoutList" {{workout.workoutId}}-->
