table {
    width: auto;
    
  }


  

  .example-container {
    width: auto;
    max-width: auto;
    overflow: auto;
  }
  
  .mat-row:nth-child(even) {
    background-color: #13125f;
  }
  
  .mat-row:nth-child(odd) {
    background-color: #FFFFFF;
  }