table {
    width: auto;
    
  }

  #select-button{
    background-color: rgb(175, 112, 218);
    /* margin: 10px;  */
  }  

  #recommended-button{
    background-color: rgb(175, 112, 218);
    /* margin: 10px;  */
  }  
  #recWorkout{
    background-color: rgb(175, 112, 218);
    /* margin: 10px;  */
  }  
  #recLength{
    background-color: rgb(175, 112, 218);
    /* margin: 10px;  */
  }  
  #like-button{
    background-color: rgb(175, 112, 218);
    /* margin: 10px;  */
  }  

  #like-count-button{
    background-color: rgb(175, 112, 218);
    /* margin: 10px;  */
  }  

  .workout-box{
    background-color: rgb(117, 199, 247);
  }

  .example-container {
    width: auto;
    max-width: auto;
    overflow: auto;
  }
  
  .mat-row:nth-child(even) {
    background-color: #13125f;
  }
  
  .mat-row:nth-child(odd) {
    background-color: #FFFFFF;
  }
  .plan-head{
    background-color: rgb(177, 177, 177);
    margin-left: 10%;
    margin-right: 10%;
  }

  .plan-head:hover{
    background-color: rgb(58, 103, 155) !important;
}

