table {
    width: auto;
    
  }

  button{
    background-color: rgb(175, 112, 218);
    margin: 10px; 
  }  

  .example-container {
    width: auto;
    max-width: auto;
    overflow: auto;
  }
  
  .mat-row:nth-child(even) {
    background-color: #13125f;
  }
  
  .mat-row:nth-child(odd) {
    background-color: #FFFFFF;
  }
  .plan-head{
    background-color: rgb(177, 177, 177);
    margin-left: 10%;
    margin-right: 10%;
  }

  .plan-head:hover{
    background-color: rgb(58, 103, 155) !important;
}

