<!-- <p>random-workout works!</p>

<button (click)="generateRandomWorkout()"> Generate Random Workout </button> -->


  
    <!-- <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
         
        </mat-panel-title>
        <mat-panel-title>
            <div class="mat-title"> Generate Random Workout</div>  
        </mat-panel-title>
      </mat-expansion-panel-header>
      
    </mat-expansion-panel> -->

   
<mat-card class="generateCard">

   <div class="generateDiv">
       <button mat-raised-button id="generateButton" color="primary" (click)="generateRandomWorkout()"><div class="mat-display-1">Create A Random Workout</div> </button>
   </div>
</mat-card>