#generateButton {
    
    
    background-color: rgb(175, 112, 218);
}

.generateCard:hover {
    background-color: rgb(58, 103, 155) !important;
}
.generateCard{
    background-color: rgb(117, 199, 247);
    margin-left: 10%;
    margin-right: 10%;
}

 .generateDiv {

    width: 10%; /* Can be in percentage also. */
    height: auto;
    margin-left: 40%;
    padding: 10px;
    /* position: relative;  */


} 

